.content {
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

button.option {
    border: 1px solid #6A6C8B;
    background-color: transparent;
    border-radius: 15px;
    height: 30px;
    padding: 0 15px;
    margin-top: 20px;
    margin-right: 14px;
    cursor: pointer;
    outline: none;
}
button.option:hover {
    background-color: #6A6C8B;
    color: white;
}
